.dark-high-contrast {
  --md-sys-color-primary: rgb(233 240 255);
  --md-sys-color-surface-tint: rgb(162 201 254);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(158 197 250);
  --md-sys-color-on-primary-container: rgb(0 12 28);
  --md-sys-color-secondary: rgb(232 241 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(155 198 248);
  --md-sys-color-on-secondary-container: rgb(0 12 27);
  --md-sys-color-tertiary: rgb(236 239 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(171 194 253);
  --md-sys-color-on-tertiary-container: rgb(0 10 36);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(17 20 24);
  --md-sys-color-on-background: rgb(225 226 232);
  --md-sys-color-surface: rgb(17 20 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(237 240 249);
  --md-sys-color-outline-variant: rgb(191 195 203);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 232);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(30 74 119);
  --md-sys-color-primary-fixed: rgb(210 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(162 201 254);
  --md-sys-color-on-primary-fixed-variant: rgb(0 18 38);
  --md-sys-color-secondary-fixed: rgb(209 228 255);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(159 202 253);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 18 36);
  --md-sys-color-tertiary-fixed: rgb(217 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(176 198 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 15 48);
  --md-sys-color-surface-dim: rgb(17 20 24);
  --md-sys-color-surface-bright: rgb(78 80 85);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(29 32 36);
  --md-sys-color-surface-container: rgb(46 48 53);
  --md-sys-color-surface-container-high: rgb(57 59 64);
  --md-sys-color-surface-container-highest: rgb(68 71 76);
  --md-extended-color-positive-color: rgb(205 253 189);
  --md-extended-color-positive-on-color: rgb(0 0 0);
  --md-extended-color-positive-color-container: rgb(160 207 147);
  --md-extended-color-positive-on-color-container: rgb(0 15 0);
  --md-extended-color-warning-color: rgb(255 238 210);
  --md-extended-color-warning-on-color: rgb(0 0 0);
  --md-extended-color-warning-color-container: rgb(230 189 105);
  --md-extended-color-warning-on-color-container: rgb(17 10 0);
}
